@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comforter+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    background-color: navajowhite;
}

header {
    display: grid;
    grid-template-columns: 300px 170px 300px auto;
    grid-template-rows: auto;
    float: right;
    height: 90px;
    width: 100%;
    min-width: 700px;
    position: fixed;
    justify-content: center;
    min-height: 100px;
    top: 0px;
    background-color: #CB997E;
}

main {
    padding: 20px;
    margin-top: 90px;
    height: auto;
    width: auto;
    background-color: #B7B7A4;
    justify-content: center;
}

footer {
    height: 60px;
    width: 100%;
    background-color: #CB997E;
    color: rgb(230, 203, 136)
}

#logo {
    grid-area: logo;
    grid-column: 2/3;
    grid-row: auto;
    width: 100%;
}

/* INICIO MENU */

ul {
    list-style: none;
}

#navegacion {
    grid-area: navegacion;
    grid-column: 4/5;
    grid-row: 1/2;
    width: 450px;
    justify-self: center;
}

header>nav {
    float: right;
    margin-top: 20px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    min-width: 450px;
    margin-top: 5px;
}

#menu li>a {
    background-color: grey;
    color: white;
    padding: 5px;
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    border-radius: 1%;
}

#menu li>a:hover {
    color: #000;
    background-color: #eaeaea;
}

#menu>li {
    border-radius: 1%;
    border-style: groove;
}

#menu li ul li a {
    width: 100%;
    margin-top: 1px;
    text-align: center;
}

#menu>li>ul {
    display: none;
}

#menu>li:hover>ul {
    display: block;
}

/* FIN MENU */

/* Video de nosotros  */

#video {
    grid-area: video;
    grid-column: 1/2;
    grid-row: 2/3;
    display: inline;
    width: 160px;
    height: 285px;
    padding: 10px;
}

/* INICION MENU REDES footer */
.redes {
    padding: 5px;
}

.redes li>a {
    list-style: none;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}

.redes li {
    display: inline;
    text-align: center;

}

.redes img {
    width: 30px;
}

/* FIN MENU REDES footer */

/* CAJA PRESENTACION DE CONTENIDO */
.presentacion {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: none;
    padding: 10px;
    margin-top: 2px;
    overflow: hidden;
}

.presentacion__img {
    grid-area: presentacion__img;
    grid-column: 1/2;
    width: auto;
    padding: 10px;
    margin: 4px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Presentacion de pagina nosotros  */

.nosotrosPresenta {
    grid-area: nosotrosPresenta;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10px;
}

.nosotrosPresentaMision {
    grid-area: nosotrosPresentaMision;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
    margin-top: 285px;
}

/* titulos de presentaciones */

.titulo {
    padding: 10px;
    margin: 5px;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 90px;
}

.titulo h1 {
    font-size: 2em;
    background: linear-gradient(#CB997E,#B7B7A4);

}

/* INICIA contenido de TU ESPACIO  */
#introduccion {
    padding: 10px;
}

.espacio {
    grid-area: espacio;
    grid-column: 1/2;
    padding: 10px;
    overflow: hidden;
}

/* FINALIZA contenido de TU ESPACIO  */

/* Formulario de contacto */
#formulario {
    grid-area: formulario;
    grid-column: 1/2;
    overflow: hidden;
}


/* INICIA CAJA PARA PUBLICIDAD */
.publicidad {
    grid-area: publicidad;
    grid-column: 2/3;
    border: 2px solid rgb(165, 156, 88);
    border-radius: 20%;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    min-width: 152px;
    max-width: 180px;
    height: 300px;
    top: 120px;
    right: initial;
    text-align: center;
    background: linear-gradient(#CB997E, #efdace);
    box-shadow: 10px 10px 5px rgb(104, 104, 104);
}


.publicidad p {
    font-size: 20px;
    padding: 4px;
    text-align: center;
    background: linear-gradient(navajowhite, white);
    border-radius: 20%;
}

.publicidad__img {
    height: 180px;
    width: auto;
    padding: 4px;
    margin: 4px;
    background-size: 120px;
    background-image: url(../img/publicidad\ \(1\).png);
}

.publicidad__img:hover {
    background-image: url(../img/publicidad\ \(2\).png);
}

.publicidad__img__2 {
    height: 180px;
    width: auto;
    padding: 4px;
    margin: 4px;
    background-size: 120px;
    background-image: url(../img/publicidad\ \(3\).png);
}

.publicidad__img__2:hover {
    background-image: url(../img/publicidad\ \(4\).png);
}

/* FINALIZA CAJA PARA PUBLICIDAD */

/* INICIA TIENDA  */
.tienda {
    grid-area: tienda;
    grid-column: 1/2;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-width: 440px;
    gap: 10px;
    padding: 10px;
}

.producto {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: burlywood;
    text-align: center;
}

.producto img {
    width: 150px;
    height: 150px;
    padding: 10px;
    box-shadow: 10px silver;
}

.producto img:hover {
    transform: translate(10px, -10px);
}

/* FINALIZA TIENDA  */

/* COMIENZA MEDIA QUERIES  */

@media only screen and (min-width: 360px) and (max-width: 640px) {

    header {
        /* nuevo */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        height: 110px;
    }

    #logo {
        grid-area: logo;
        grid-column: 1/2;
        grid-row: auto;
        height: 60px;
        margin-top: 2px;
    }

    #navegacion {
        grid-area: navegacion;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 2px;
        justify-self: left;
    }

    .presentacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-size: contain;
    }

    .publicidad {
        grid-area: publicidad;
        grid-column: 1/2;
        grid-row: 2/3;
        width: auto;
        height: auto;
        align-items: center;
        margin-top: 20px;
    }

    .presentacion__img {
        grid-area: presentacion__img;
        grid-column: auto;
        grid-row: 1/2;
        width: auto;
        padding: 10px;
        margin: 4px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #menu li>a {
        font-size: 12px;
    }

    .tienda {
        grid-area: tienda;
        grid-column: 1/2;
        grid-row: 1/2;
        flex-flow: column;

    }
}

@media only screen and (min-width: 641px) and (max-width: 935px) {

    header {
        display: grid;
        grid-template-columns: 20px 170px 5px 500px;
        grid-template-rows: auto;
        justify-self: center;
    }

    .presentacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-size: contain;
    }

    .publicidad {
        grid-area: publicidad;
        grid-column: 1/2;
        grid-row: 2/3;
        width: auto;
        height: auto;
        align-items: center;
        margin-top: 20px;
    }

    .presentacion__img {
        grid-area: presentacion__img;
        grid-column: auto;
        grid-row: 1/2;
        width: auto;
        padding: 10px;
        margin: 4px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .espacio {
        grid-area: espacio;
        grid-column: 1/2;
        padding: 10px;
        overflow: hidden;
    }

    .tienda {
        grid-area: tienda;
        grid-column: 1/2;
        grid-row: 1/2;

    }
}

@media only screen and (min-width: 936px) {

    header {
        display: grid;
        grid-template-columns: 150px 170px 5px 800px;
        grid-template-rows: auto;
    }

}


/* FINALIZA MEDIA QUERIES  */