@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Licorice&display=swap');

//variables

//colores

$fondo: #A5A58D;
$fondoMain: white;
$contenedor: #B7B7A4;
$fontPresentacion: 'Architects Daughter',
cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
}

main {
    background-repeat: repeat;
    background-color: $fondoMain;
    border-top: 3px solid $fondo;
}

nav {
    font-family: 'Architects Daughter', cursive;
    background-color: #6b705c;
}

.btn {
    color: white;
    border-color: 1px solid black;
    background-color: #b7b7a4;

    &:hover {
        color: #000;
        background-color: #eaeaea;
        animation: sobre 1.5s infinite;
    }
}

@keyframes sobre {
    0% {
        transform: scale(.99);
        box-shadow: 2px 2px 1px #222;
    }

    50% {
        transform: scale(1.2);
        box-shadow: 5px 5px 2px #222;
    }

    0% {
        transform: scale(.99);
        box-shadow: 2px 2px 1px #222;
    }
}

footer {
    margin-top: 20px;
    background-color: #6b705c;
}

/* INICIO MENU */

#menu {
    li>a {
        &:hover {
            color: #000;
            background-color: #eaeaea;
            animation: sobre 1.5s infinite;
        }
    }
}

@keyframes sobre {
    0% {
        transform: scale(.99);
        box-shadow: 2px 2px 1px #222;
    }

    50% {
        transform: scale(1.2);
        box-shadow: 5px 5px 2px #222;
    }

    0% {
        transform: scale(.99);
        box-shadow: 2px 2px 1px #222;
    }
}

.container {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: $contenedor;
    box-shadow: 5px 5px 5px;
}


/* FIN MENU */

/* INICION MENU REDES footer */

.redes {
    padding: 5px;

    & li>a {
        list-style: none;
        text-decoration: none;
        font-size: small;
        color: white;
    }

    & li {
        display: inline;
        text-align: center;
        padding-right: 10px;
    }

    & img {
        width: 30px;
    }
}

/* FIN MENU REDES footer */

/* CAJA PRESENTACION DE CONTENIDO */

.presentacion {
    margin: 10px;
    min-width: 260px;

    & img {
        width: 100%;
        min-width: 250px;
    }
}

/* Presentacion de pagina nosotros  */
.nosotrosPresentaMision h2 {
    font-family: $fontPresentacion;
}

/* titulos de presentaciones */

.titulo {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    text-align: center;

    & h1 {
        font-size: 2em;
        background: linear-gradient(#6b705c, white);
        font-family: Arial, Helvetica, sans-serif
    }

    & span {
        font-size: 2em;
        font-family: 'Barlow', sans-serif;
        font-family: 'Licorice', cursive;
    }

    & p {
        font-family: Arial, Helvetica, sans-serif
    }
}

/* INICIA contenido de TU ESPACIO  */
.introduccion {
    margin: 10px;
    padding: 10px;
}

/* FINALIZA contenido de TU ESPACIO  */

/* Formulario de contacto */
#formulario {
    margin: 10px;

    &.campos {
        & label {
            padding: 10px;
            width: 25%; 
            float: left;
        }
    }
}

/* INICIA CAJA PARA PUBLICIDAD */
#publicidad {
    border: 2px solid rgb(165, 156, 88);
    border-radius: 10%;
    width: auto;
    max-width: 180px;
    height: 300px;
    margin: 10px;
    text-align: center;
    background: linear-gradient(#CB997E, #efdace);
    box-shadow: 10px 10px 5px rgb(104, 104, 104);

    & p {
        padding: 4px;
        text-align: center;
        background: linear-gradient(navajowhite, white);
        border-radius: 15%;
        margin: 5px;
    }
}

/* FINALIZA CAJA PARA PUBLICIDAD */

/* INICIA TIENDA  */
.tienda {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

.producto {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #F0EFEB;
    text-align: center;
    margin: 10px;
    padding: 10px;

    & img {
        width: 150px;
        height: 150px;
        padding: 10px;
        box-shadow: 10px silver;
    }

    & img:hover {
        animation: mueveProd 1s infinite;
    }

    & p {
        background-color: $contenedor;
    }
}

@keyframes mueveProd {
    0% {
        transform: translate(5px);
        transform: escale(.99);
        box-shadow: -2px -2px 1px #222;
        border: 1px solid black;
    }

    50% {
        transform: translate(10px);
        transform: escale(1.2);
        box-shadow: -5px -5px 2px #222;
        border: 2px solid black;
    }

    100% {
        transform: translate(5px);
        transform: escale(.99);
        box-shadow: -2px -2px 1px #222;
        border: 1px solid black;
    }

}

/* FINALIZA TIENDA  */