@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comforter+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100vh;
    background-color: navajowhite;
}

header {
    height: 90px;
    width: 100%;
    min-width: 700px;
    position: fixed;
    justify-content: center;
    min-height: 100px;
    top: 0px;
    background-color: #CB997E;
}

main {
    padding-top: 1px;
    margin-top: 90px;
    height: inherit;
    width: auto;
    background-color: #B7B7A4;
    justify-content: center;
}

footer {
    height: 60px;
    width: 100%;
    background-color: #CB997E;
    color: rgb(230, 203, 136)
}

/* INICIO MENU */

ul {
    list-style: none;
}

header>a {
    width: 30%;
}

header>nav {
    width: 70%;
    float: right;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    min-width: 450px;
    margin-top: 5px;
    z-index: 1;
}

#menu li>a {
    background-color: grey;
    color: white;
    padding: 5px;
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    border-radius: 1%
}

#menu li>a:hover {
    color: #000;
    background-color: #eaeaea;
}

#menu>li {
    /* float: right; */
    /* flex-flow: column-reverse wrap-reverse; */
    border-radius: 1%;
    border-style: groove;
}

#menu li ul li a {
    width: 100%;
    margin-top: 1px;
    text-align: center;
}

#menu>li>ul {
    display: none;
}

#menu>li:hover>ul {
    display: block;
}

/* FIN MENU */

#video {
    border: 2px solid black;
    display: inline;
}

/* INICION MENU REDES footer */
.redes {
    padding: 5px;
}

.redes li>a {
    list-style: none;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}

.redes li {
    display: inline;
    text-align: center;

}

.redes img {
    width: 30px;
}

/* FIN MENU REDES footer */

.titulo {
    padding: 5px;
    margin: 5px;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 90px;
}

.titulo h1 {
    font-size: 2em;
}

/* CAJA PRESENTACION DE CONTENIDO */
.presentacion {
    display: flex;
    padding: 10px;
    margin-top: 2px;
    overflow: hidden;
    flex-wrap: wrap;
    /* display: inline-flex; */
    /* height: 80%; */
}

.presentacion__img {
    height: 70%;
    width: inherit;
    padding: 10px;
    margin: 4px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
}

/* INICIA CAJA PARA PUBLICIDAD */
.publicidad {
    border: 2px solid black;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
    height: 300px;
    position: sticky;
    top: 120px;
    right: initial;
    text-align: center;
}


.publicidad p {
    font-size: 20px;
    padding: 4px;
    text-align: center;
}

.publicidad__img {
    height: 180px;
    width: 180px;
    padding: 4px;
    margin: 4px;
    background-size: 120px;
    background-image: url(../img/publicidad.jpg);
}

.publicidad__img:hover {
    background-image: url(../img/publicidad2.jpg);
}

/* FINALIZA CAJA PARA PUBLICIDAD */
/* INICIA TIENDA  */
.tienda {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-width: 440px;
    gap: 10px;
    padding: 10px;
}

.producto {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: burlywood;
    text-align: center;
}

.producto img {
    width: 150px;
    height: 150px;
    padding: 10px;
    box-shadow: 10px silver;
    transform: ;

}

.producto img:hover {
    transform: translate(10px, -10px);
}

/* FINALIZA TIENDA  */